<!DOCTYPE html>
<html>
<head>
	<title>H.C.H | Engine Fan</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
    
	<%= render 'partials/navbar' %>
	
	<div class="clearfix"></div>
	<!-- Alerts & Messages -->
	<% if flash[:notice] %>
	<div class="alert alert-success"><%= flash[:notice] %></div>
	<% end %>

	<% if flash[:alert] %>
	<div class="alert alert-danger"><%= flash[:alert] %></div>
	<% end %>
	
    <div style="padding-left:40px;padding-right:40px;">
		<%= yield %>
	</div>

	<%= render 'partials/footer' %>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


</body>
</html>