<div class="container middle-position-form">
	<h1><%= @customer.email %></h1>

	<%= form_for [:admin, @customer] do |f| %>
		<!-- Check for errors -->
		<% if @customer.errors.any? %>
		    <% @customer.errors.full_messages.each do |msg| %>
		    	<!-- Show errors -->
		      	<div class="alert alert-danger"><%= msg %></div>
		    <% end %>
	  	<% end %>

		<div class="form-group">
			<%= f.label :company_name %>
			<%= f.text_field :company_name, :required => true, class:'form-control' %>
		</div>

		<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email, class:'form-control' %>
		</div>
		
		<div class="form-group">
			<%= f.label :country_code, 'Country' %>
	    <%= f.country_select :country_code, priority: ["TW", "US"], class:'form-control' %>
	  </div>
	  <div class="form-group">
	  	<%= f.label :business_field %>
			<%= f.select :business_field, [['Truck', 'Truck'] ,['Forklift Truck', 'Forklift Truck'],['Mechanical Excavator', 'Mechanical Excavator'],['Others & Customize', 'Others & Customize']], {:include_blank => 'Select One'}, class:'form-control' %>
	  </div>
	  <div class="form-group">
			<%= f.label :business_type %>
			<%= f.select :business_type, [['Factory', 'Factory'] ,['Agent', 'Agent'] ,['Retails', 'Retails']], {:include_blank => 'Select One'}, class:'form-control' %>
		</div>

	  <h3>Contact Person</h3>
		<div class="form-group">
			<%= f.label :job_title, 'Job Title' %>
			<%= f.text_field :job_title, class:'form-control', id:"disabledInput" %>
		</div>

		<div class="form-group">
			<%= f.label :telephone, 'Telephone' %>
			<%= f.text_field :telephone, class:'form-control', id:"disabledInput" %>
		</div>

		<div class="form-group">
			<%= f.label :fax, 'Fax' %>
			<%= f.text_field :fax, class:'form-control', id:"disabledInput" %>
		</div>

		<br/>
		<%= link_to "Edit", edit_admin_customer_path(@customer.id), class:'btn btn-primary' %>
		<%= link_to "Back", admin_customers_path, class:'btn btn-default' %>

	<% end %>
</div>